 /* for navbar img */
 .navbar-brand img{
    height: 80px;
    width: 200px;
} 
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0%;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    color: #b1b4bd;
    background-color: #fff;
}
.nav-link{
color: whitesmoke;
font-weight: 500;
}
.nav-link:hover{
    color: darkred;
}
.header-background{
    position: static;
    display: block;
    overflow: visible;
    top: 0;
    height: auto; 
    min-height: 750px;
    /* margin-bottom: 50px; */
    padding-bottom: 70px; 
     background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 58,69, 0.9)));
   background-image: linear-gradient(180deg, rgba(50, 58,69, 0.55), rgba(50, 58,69, 0.74)); 
    flex-direction: column;
    background-position: 0px 0px, 100% 50%;
    background-size:  cover;
    white-space: normal;
    object-fit: fill;
    -o-object-fit: fill;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    animation: animate 25s ease-in-out infinite;
}
 @keyframes animate{
    0%,100%{
        background-image: url(bg-image6.jpg);
        
        
    }
     50%{
        background-image: url(bg-image2.jpg);
        
    }
     75%{
        background-image: url(bg-image.jpg);
    } 
} 
.sticky-nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    padding: 20px;
    z-index: 1;
     -webkit-align-self:auto;
 -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;  
    -webkit-box-ordinal-group: 1;
    -webkit-order:0;
    -ms-flex-order: 0;
    order: 0;
     background-color: rgba(161, 143, 109, 0.5);
}
.navbar .navbar-brand .nav-link{
    padding: 1rem 0;
    display: block;
    text-decoration: none;
    
    
    }
.dropdown-item:hover{
    border-radius: 20px;
}
.navbar-brand{
    font-size: 2.2rem;
    color: white;
}
.nav-link{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    
}
.navbar-toggler{
    border: none;
    padding: 10px 6px;
    outline: none;
}
.navbar-toggler span{
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background: #fff;
}
.navbar-toggler span + span{
    margin-top: 4px;
    width: 22px;
}
.navbar-toggler span + span + span{
    width: 22px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1.4rem 1rem;
    font-size: 1.2rem;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link.active{
  color: #e74c3c;

}
.heading:hover{
    text-align: end;
    margin-right: 20px;
}

.btn-group{
    margin-left: 0%;
    border-radius: 10px;
}
.butn{
    text-decoration: none;
    color: #fff;
    font-family: fantasy;
    font-weight: 800;
    font-size: 1.4rem;

}
 /* FOR PARA ON BG */
.heading{
    font-size: 5rem;
    /* font-weight: bold; */
    line-height: 1.2;
    margin-left: 20px;
    
    color: #fff;
    margin-top: 100px;
    margin-bottom: 8px;
    min-height: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 .navbar .navbar-brand{
     font-size: 20px;
     font-weight: 800;
     margin-left: 10%;
 }
 .form-control{
    background-color: darkred;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-color: darkred;
 }
 .form-control:hover{
    text-decoration: underline #fff;
    background-color: green;
    border-color: green;
 }
 
 .column-left{
     min-height: 600px;
     /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 58,69, 0.9)));
     background-image: linear-gradient(180deg, rgba(50, 58,69, 0.55), rgba(50, 58,69, 0.74)), url(booknow.jpg); */
     background-position: 0px 0px, 100% 50%;
     background-size: auto, cover;
     object-fit: fill;
     -o-object-fit: cover;
     background-size: cover;
    
     animation: rule1  16s ease-in-out infinite;
 }
 
    @keyframes rule1 {
       0%,100%{
          background-image: url(bg-image1.jpg);
           
           
       }
        50%{
           background-image: url(bg-image3.jpg);
           
       }
        75%{
           background-image: url(bg-image5.jpg);
       } 
   } 
 .column-right{

    background-color: #037ef3;

 }
 .column-right {
     margin-top: 0px;
     padding: 7rem 5rem 0rem 5rem;
     font-size: 2.8rem;
     color: #fff;
     font-weight: 800;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
     
 }
 .column-right .paragraph{

    margin-top: 15px;
    padding: 1rem 5rem 1rem 0rem;
    font-size: 1.5rem;
    color: rgb(184, 186, 207);
    line-height: 1.4;
    text-align: justify;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 }
 /* GLASS MORPHISM */
 .section{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background: #e0f7fa;
 }